[submodule "app/src/main/jni/systemshock"]
	path = app/src/main/jni/systemshock
	url = https://github.com/sandstranger/systemshock.git
[submodule "gl4es/src/main/jni/gl4es"]
	path = gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/sandstranger/SDL.git
